body {
    background: linear-gradient(90deg, #667eea 0%, #764ba2 100%);
    color: #333;
    line-height: 1.6;
}

h1,h2{
    color: #213c57;
    margin-bottom: 1rem;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    border-bottom: 3px solid #213c57;
    padding-bottom: 0.5rem;
}

h2 {
    font-size: 2rem;
    border-left: 4px solid #213c57;
    padding-left: 1rem;
}


.movie-form {
    margin-bottom: 1.5rem;
    margin-left: 4rem;
}

label {
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    font-weight: 600;
    color: #2c3e50;
    display: block;
}

input {
    border: 2px solid coral;
    border-radius: 4px;
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}


.submit-btn {
    background-color: coral;
    color: white;
    padding: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
}