body {
    background-color: #989797;
    font-family: Arial, sans-serif;
}

h1,h2 {
    color: #000000;
    margin-bottom: 1rem;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    border-bottom: 3px solid #000000;
    padding-bottom: 0.5rem;
}

h2 {
    text-align: center;
    font-size: 2rem;
    padding-left: 1rem;
}

.user-form {
    width: 400px;
    margin: 0 auto 1rem auto;
    padding: 1rem;
    background-color: #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

label {
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    font-weight: 600;
    color: #000000;
    display: block;
}

input {
    border: 2px solid #000000;
    border-radius: 4px;
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    width: calc(100% - 1rem);
    box-sizing: border-box;
    margin-bottom: 1rem;
}

.submit-btn {
    background-color: #000000;
    color: white;
    padding: 0.75rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    font-weight: 700;
    width: 100%;
}
.register{
    width: 400px;
}